ul {
  padding-inline-start: 20px !important;
}

.highlighted {
  font-weight: bold;
  color: #2695e5;
  font-size: 1em;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: all 0.15s ease-in-out;
}