ul {
  padding-inline-start: 20px !important;
}

.highlighted {
  background-color: #f0f0f0;
  font-weight: bold;
  color: #2695e5;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}