<textarea id="markdownConverterTextArea" (input)="onMarkdownChange($event)">
# Markdown Converter

Lorem ipsum dolor sit amet consectetur 
adipisicing elit. Deserunt cumque provident aliquam, 
facere voluptatem aspernatur id velit praesentium 
asperiores illum laboriosam doloribus quos sint! Inventore minus ex facilis veniam obcaecati!

## This is a sub-heading

Here's some code, `console.log('Hello, World!')`, between 2 backticks.

```

// This is multi-line code:

function helloWorld() {
  console.log('Hello, World!');
}

helloWorld();

```

Here's a list of items:

- Item 1

- Item 2

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, quo corporis aut, nostrum dignissimos laudantium sint delectus obcaecati praesentium a nemo illum vel doloremque, rerum maxime nobis. Fugit, delectus in.

### Testing a blockquote

> This is a blockquote

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem cum molestiae adipisci et autem a possimus nostrum. Temporibus aut dicta quam repellat quaerat velit eaque consequuntur? Ratione modi omnis possimus.

### Testing a link

[Click here to visit my GitHub profile]()

Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ipsum reiciendis veniam quas nisi natus, nemo adipisci perspiciatis animi, id excepturi nobis iure doloremque veritatis exercitationem harum fuga. Suscipit, eius!

# 222222 - This is a heading

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab nobis odio quod id debitis. Velit sit delectus accusamus ullam asperiores recusandae, in iusto! Sint aliquam quidem repellat eum fugit dolor!

## 333333333 - This is a sub-heading

Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolorem deleniti labore debitis sapiente culpa ad? Tenetur provident necessitatibus non reprehenderit minus incidunt impedit inventore laborum nesciunt harum. Quo, ipsum!
</textarea>
